#------------------------------------------------------------------------------
# 開発用環境変数テンプレート (.env.example)
#
# 新規プロジェクト開始時:
# 1. このファイルをコピーして `.env` を作成してください
# 2. 必要なAPIキーなどを `.env` ファイルに記述して使用します
#
# 注意:
# * 本番環境のシークレットキーをこのファイルに直接書き込まないでください
# * `.env` は `.gitignore` によってGitの管理から除外されます
#------------------------------------------------------------------------------

VITE_GOOGLE_MAPS_API_KEY=ここにあなたのGoogleMapのAPIキーを貼り付ける
VITE_GOOGLE_CLOUD_TTS_API_KEY=ここにあなたのGoogleCloudeのText-to-SpeachのAPIキーを貼り付ける
VITE_GEMINI_API_KEY=ここにあなたのGeminiのAPIキーを貼り付ける
